
.actions{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.actions button{
 padding: 10px;
 border-radius: 5px;
 border: 0;
 background:#da552f ;
 color: #fff;
 font-size: 16px;
 font-weight: bold;
 cursor: pointer;

}
.actions button[disabled]{
    opacity: 0.4;
}

.actions button:hover{
    opacity: 0.7;
} 