  .box{
    width: 100%;
    padding: 1% 2%;
    background: #fff;
    box-sizing: border-box;
    margin: 2% 0 3% 0%;
    word-wrap: break-word;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);

  }
 .box li{
     padding-bottom: 5px;
 }

 .box a{
      color: #0a8ebb;
      text-align: center;
      text-decoration: none;
      font-size: 1em;
  }

.box a:hover{
    text-decoration:underline;
}
