.navigation{
    margin: 1px auto 10px;
    line-height: 50px;
    border-radius: 3px;
    box-shadow: 4px -1px 3px 5px #d9e8ec73;
    background-color: #0a8ebb;
    height: 50px;
}
.navigation a{
    text-decoration: none;
}

.profile-detail{
    padding-right: 5%;
    padding-left: 5%;
    background: #f1f1f1;
    display: flex;
}

.profile-detail div image{
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
    width: 2000px;
}

.root-detail{
    background: #fdfbfbd6;
}