.product-list{
    max-width: 700px;
    margin: 1px auto 10px;
    padding: 0 0px;
}


.product-list .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0px;
}
.product-list .actions button{
 padding: 10px;
 border-radius: 5px;
 border: 0;
 background:#da552f ;
 color: #fff;
 font-size: 16px;
 font-weight: bold;
 cursor: pointer;
}
.product-list .actions button[disabled]{
    opacity: 0.4;
}

.product-list .actions button:hover{
    opacity: 0.7;
} 