  .user-avatar-img img {
    width: 13vh;
    border-radius: 50%;    
    margin: 1.4em ;
    box-shadow: 1px -2px 4px 1px #141b2745;
  }
  
  .user-content {
    margin: 10px;
  }
  
  .user-login {
    margin : 1rem;
    font-size: 1.6rem;
    font-weight: bold;
    color: rgb(3, 72, 82);
    word-wrap: break-word;
  }
  
  .user-info {
    display: flex;
    align-self: end;
    align-items: center;
  }
  
  .user-link {
    margin-left: auto;
    padding: 5px 20px;
    border-radius: 20px;    
    background-color: #0a8ebb;
    filter: brightness(95%);
    text-align: center;
    cursor: pointer;
  }
  
  .user-link:hover {
    filter: brightness(90%);
  }

  .user-link a {
   text-decoration: none;
   text-align: center;
   color: aliceblue;
  }