.column {
    flex: 1;
    padding-right: 3%;
    padding-left: 3%;
  }

  .list-repo-item{
    flex: 1;
    text-align: left;
  }
 
.header {
    background-color: #f1f1f1;
    padding: 30px;
    text-align: center;
    font-size: 35px;
}
.row {
    display: flex;
  }
  
@media (max-width: 805px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
    align-content:space-around;
  }
}

.sumary{
    width: 100%;
    padding: 1% 2%;
    background: #fff;
    box-sizing: border-box;
    margin: 2% 0 3% 0%;
    box-shadow: 0 2px 4px rgba(0,0,0, .2);
  }

.sumary li{
    padding-bottom: 5px;
    margin: 5px;
}